<%- include('partials/header.ejs') %>

	<inner-column>
		<h1 class="loud-voice"><%=monster.name%></h1>
		<graphic-description>
			<p>
				<%=monster.descriptions[0].description%>
			</p>
			<picture>
				<img src="<%=monster.images[0].href%>">
			</picture>
			
		</graphic-description>
		<skill-list>
			<h3 class="attention-voice">skills</h3>
			<ul>
				<% monster.skills.forEach(function(skill) { %>
					<li><%=skill.skill%></li>
				<% }) %>
			</ul>
		</skill-list>
		<form-list>
			<h3 class="attention-voice">Prior forms</h3>
			<ul>
				<% monster.priorEvolutions.forEach(function(priorEvolution) { %>
					<li><%=priorEvolution.digimon%></li>
				<% }) %>
			</ul>
		</form-list>
	</inner-column>
<%- include('partials/footer.ejs') %>
