<%- include('../../partials/header.ejs') %>

	<section>
		<inner-column>
			<h1 class="loud-voice">List</h1>
			<ul class="monsters">

			<% monsters.forEach( function (monster) { %>
				<li>		
					<monster-card>
						<h3 class="attention-voice">
							<%=monster.name%>
						</h3>
						<picture>
							<img src="<%=monster.images[0].href%>">
						</picture>
						<a href="monsters/<%=monster.name%>">
							Read More
						</a>
					</monster-card>
				</li>
			<% } ) %>
			
			</ul>
		</inner-column>
	</section>
<%- include('../../partials/footer.ejs') %>
